.container {
    position: absolute;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
}
body{
    height: 100vh;
    overflow: auto;
}

:root {
    --color-one: #2DCC70;
    --color-two: #EEEEEE;
}