.container {
    width: 100%;
    max-width: 1111px;
    margin: auto;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.button {
    padding: 25px 40px;
    font-size: 20px;
    border: 1px solid #0D0D0D;
    background-color: #fff;
    border-radius: 10px;
}
.container {
    margin: auto;
    max-width: 1124px;
    width: 100%;
}