@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/background-xanh-duong.jpg);
    background-size: 100vw auto;
}

.inner-wrap {
    height: 530px;
    width: 890px;
    font-family: 'Roboto';
}
.button {
    padding: 12px 28px;
    border-radius: 5px;
    border: 1px solid #7367F0;
    color: #7367F0;
    background-color: transparent;
}